@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(206, 206, 241);
    background-attachment: fixed;
}

::-webkit-scrollbar{
    display: none;
}

@media (min-width:768px) and  (max-width:1024px) {
    #visit-btn{
        display: none;
    }
    #hero-para{
        text-align: center;
        align-items: center;
    }
    #hero-img{
        display: none;
    }
}   

